
ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  --background: #FF7575; /* Cambia el color de fondo del botón */
  color: #fff; /* Cambia el color del texto del botón */
  font-weight: bold;
}

ion-button:active {
  --background: #0056b3;
}

ion-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
